body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: black;
}

.backdrop {
  position: absolute;
  z-index: 9000;
  width: 100vw;
  height: 100vh;
}

.grid-container {
  display: grid;
  /* Display 7 items on each row */
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
  width: calc(100vw - 150px);
  height: calc(100vh - 180px);
}

.grid-container.animate {
  animation: slideIn 10s ease-in-out, fadeIn 1s 9.9s, dance 0.65s 10.5s infinite;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-90%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes dance {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* CARD */
.card {
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  transition: transform 0.5s;
}

.card.active {
  border: 3px solid #c02235;
  transform: scale(2.3);
  z-index: 10;
}

.card-container {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card-container:hover {
  transform: scale(1.7);
}

.card.flipped .card-container {
  transform: rotateY(180deg);
}

/* CARD BACKGROUND / FACE */
.card .card-background,
.card .card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.card-background {
}


.card-background img {
  height: 85%;
  border-radius: 8px;
}

.card-background img.text-image {
  position: absolute;
  /*filter: sepia(1) saturate(10000%) hue-rotate(180deg);*/
  filter: invert(1) brightness(10000%);
  transition: transform 0.5s ease-in-out;
  height: 32%;
  top: 17px;
}

.card-face {
  background-color: white;
  transform: rotateY(180deg);
}
.card-face .question-text, .card-face .question-answer {
  margin: 0 20px;
  color: #c02235;
  text-align: center;
  font-size: 11px;
}
.card-face .question-text img {
  width: calc(100% + 30px);
  margin: 0 -20px;
}
.card-face .question-answer {
  display: none;
}
.card-face:hover .question-text {
  display: none;
}
.card-face:hover .question-answer {
  display: block;
}

/* ANSERS */
.answers-popup {
  z-index: 1000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.answers-popup-content {
  background-color: black;
  padding: 40px;
  border-radius: 10px;
  color: white;
  box-shadow: 1px 0px 13px 12px rgba(0, 0, 0, 0.2);
  min-width: 50vw;
}

.answers-list {
  display: grid;
  align-items: center;
  gap: 40px;
}

.answer {
  background-color: white;
  border-radius: 8px;
  color: #c02235;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
  cursor: pointer;
  padding: 20px;
}

.answer:hover {
  background-color: #c02235;
  color: white;
  scale: 1.05;
}

.answer.scale {
  transform: scale(1.4);
}

/* BLINK */
.blink-green {
  animation: blinkGreenAnimation 0.3s infinite;
}

@keyframes blinkGreenAnimation {
  0% {
    background-color: white;
  }

  30% {
    background-color: rgb(35, 239, 35);
  }
}

.blink-red {
  animation: blinkRedAnimation 0.3s infinite;
}

@keyframes blinkRedAnimation {
  0% {
    background-color: white;
  }

  30% {
    background-color: rgb(247, 55, 64);
  }
}

/* CONFETTI */
.confetti {
  position: absolute;
  position: absolute;
  width: 100vw;
  z-index: 2000;
  bottom: 0;
  right: 0;
}

/* GENERAL */
.hidden {
  display: none;
}

/* Zoom Out Animation */
.zoom-out {
  animation: zoomOut 4s infinite;
  animation-delay: var(--random-delay);
}

@keyframes zoomOut {
  0% { transform: scale(0.8) }
  100% { transform: scale(0.8) }
  50% { transform: scale(1.2) }
}

/* Swing Animation */
.swing {
  animation: swing 6s infinite;
  animation-delay: var(--random-delay);
}

@keyframes swing {
  0% { transform: rotate(0deg) }
  15% { transform: rotate(-15deg) }
  30% { transform: rotate(0deg) }
  45% { transform: rotate(15deg) }
  60% { transform: rotate(0deg) }
  100% { transform: rotate(0deg) }
}